<server description="Intro REST Guide Liberty server">
    <!-- tag::featureManager[] -->
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>ejbLite-3.2</feature>
        <feature>cdi-2.0</feature>
        <feature>beanValidation-2.0</feature>
    </featureManager>
    <!-- end::featureManager[] -->

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />
    <!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
    <webApplication location="CrudTeamX.war" contextRoot="${app.context.root}"/>  <!-- change location for your app name with following Format CrudTeamX -->
    <webContainer deferServletLoad="false"/>
    <!-- end::webApplication[] -->
</server>